@import '@/styles/libs.scss';

$classPrefix: '.lj-school-detail-page';

$margin-top: 70px;

#{$classPrefix} {
  flex-direction: column;
  width: 100%;

  .bg-image {
    width: 100%;
    height: 765px;
  }

  .container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  .class-info-box {
    @include card();
    height: 318px;
    margin-top: $margin-top;

    .class-name {
      @include text(null, $font-size-xl, 100px);
      @include flex-row(center, center);
    }

    .class-year {
      @include flex-row(center, center);
      @include text();
      margin-bottom: 40px;
    }
  }

  .teacher-list-box {
    .teacher-list-header {
      margin: $spacing-md;
    }
  }

  .student-list-box {
    .student-list-header {
      margin: $spacing-md;
    }
  }

  .invert-modal {
    &-content {
      text-align: center;
      image {
        width: 542px;
        height: 100px;
        margin: 25px 0;
      }
    }
  }
}
