@import '@/styles/libs.scss';

$classPrefix: '.lj-panel';

#{$classPrefix} {
  position: relative;
  margin: $spacing-v-md $spacing-h-md;
  @include flex-col();

  &--header {
    @include flex-row();
    margin-bottom: $spacing-v-md;
  }

  &--content {
    @include text($color-text-desc, $font-size-md, $line-height-zh);
    padding-left: $spacing-h-xs;
  }

  &--item-image {
    @include flex-row(center, center);
    margin-right: $spacing-h-xs;
  }

  &--item-icon {
    @include flex-row(center, center);
    margin-right: $spacing-h-xs;
  }

  &--item-block {
    display: inline-block;
    width: 5px;
    height: 24px;
    border-radius: 3px;
    background: #3675ef;
    margin-top: 5px;
    margin-right: $spacing-h-xs;
  }

  &--item-title {
    @include text(null, $font-size-lg);
    @include line(1);
    @include flex-row();
    align-items: center;
  }

  &--item-extra {
    @include flex-row(center, center);
    @include text($color-text-desc);
    text-align: right;
    margin-left: $spacing-xs;
  }
}
