@import '@/styles/libs.scss';

$classPrefix: '.lj-input-number';

#{$classPrefix} {
  height: 70px;
  background: #ffffff;
  @include flex-row-between();
  display: inline-flex;

  &--value {
    flex: 1;
    @include text();

    &.placeholder {
      color: $color-text-desc;
    }
  }

  &--icon {
    background-color: transparent;
    margin-left: $spacing-xs;
    color: $color-text-desc;
    font-size: $icon-size-md !important;
  }

  &--full {
    width: 100%;
  }

  // 显示边框
  &--border {
    padding: 0 $spacing-xs;
    border: 1px solid #c8c8c8;
    border-radius: $border-radius-sm;
  }

  // 文字对齐方式
  &--left {
    text-align: left;
  }
  &--center {
    text-align: center;
  }
  &--right {
    text-align: right;
  }

  &--large {
    height: $input-height-lg;
  }
  &--normal {
    height: $input-height-md;
  }
  &--small {
    height: $input-height-sm;
  }
}
