@import '@/styles/libs.scss';

$classPrefix: '.lj-input';

#{$classPrefix} {
  padding: 0;
  margin: 0;
  height: 70px;

  &::after {
    border: 0;
  }

  .at-input__container {
    height: 100%;
    input {
      font-size: $font-size-base;
      padding-right: 0;
    }
  }

  &--border {
    border: $border-base;
    border-radius: $border-radius-md;

    input {
      padding: 0 18rpx;
    }
  }

  &--full {
    width: 100%;
    flex: 1;
  }

  &--circle {
    border-radius: 70px;
  }

  // 文字对齐方式
  &--left {
    text-align: left;
  }
  &--center {
    text-align: center;
  }
  &--right {
    text-align: right;
  }

  &--large {
    height: $input-height-lg;
  }
  &--normal {
    height: $input-height-md;
  }
  &--small {
    height: $input-height-sm;
  }
}
