@import '@/styles/libs.scss';

$classPrefix: '.lj-add-property-modal';

#{$classPrefix} {
  &--content {
    padding: $spacing-xs $spacing-md;
  }

  .item-name {
    width: 90px;
  }

  .item-value {
    flex: 1;
  }
}
