@import '@/styles/libs.scss';

$classPrefix: '.lj-split';

#{$classPrefix} {
  background-color: $split-color;

  &--row {
    width: 100%;
    height: $split-width-md;
  }
  &--column {
    width: $split-width-md;
    height: 100%;
  }

  #{&}--row#{&}--large {
    height: $split-width-lg;
  }
  #{&}--row#{&}--normal {
    height: $split-width-md;
  }
  #{&}--row#{&}--small {
    height: $split-width-sm;
  }

  #{&}--column#{&}--large {
    width: $split-width-lg;
  }
  #{&}--column#{&}--normal {
    width: $split-width-md;
  }
  #{&}--column#{&}--small {
    width: $split-width-sm;
  }
}
