@import '@/styles/libs.scss';

$classPrefix: '.lj-switch';

#{$classPrefix} {
  background-color: transparent;
  margin-left: 0;
  padding: 0;

  .at-switch__container {
    background-color: transparent;
    margin-left: $spacing-xs;
  }
}
