@import '@/styles/libs.scss';

$classPrefix: '.lj-account-detail-page';

#{$classPrefix} {
  width: 100%;

  &--container {
    padding-bottom: $footer-height + $spacing-md;
  }

  .account-info {
    background-color: #ffffff;
    @include flex-row();
    padding: $spacing-sm $spacing-md;
    margin-top: $spacing-sm;

    .account-icon {
      @include flex-row(center, center);
      margin-right: $spacing-sm;
    }

    .account-title {
      @include flex-col(center);
      flex: 1;
    }
  }

  .panel {
    margin-top: $spacing-sm;

    .panel-title {
      @include text($color-text-desc, $font-size-sm);
      padding: $spacing-xs $spacing-md;
    }

    .panel-content {
      // background-color: $color-white;
    }
  }

  &--footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    flex-shrink: 0;
    height: $footer-height;
    background-color: $color-bg-base;
    display: flex;
    justify-content: space-between;
    z-index: 100;

    .footer-left {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex: 1;
      flex-shrink: 0;
    }

    .footer-center {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1;
      flex-shrink: 0;
    }

    .footer-right {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex: 1;
      flex-shrink: 0;
    }
  }
}
