@import '@/styles/libs.scss';

$classPrefix: '.lj-account-detail-page';

#{$classPrefix} {
  width: 100%;

  &--container {
    padding-bottom: $spacing-md;
  }

  .account-info {
    background-color: #ffffff;
    @include flex-row();
    padding: $spacing-sm $spacing-md;
    margin-top: $spacing-sm;

    .account-icon {
      @include flex-row(center, center);
      margin-right: $spacing-sm;
    }

    .account-title {
      @include flex-col(center);
      flex: 1;
    }
  }

  .panel {
    margin-top: $spacing-sm;

    .panel-title {
      @include text($color-text-desc, $font-size-sm);
      padding: $spacing-xs $spacing-md;
    }

    .panel-content {
      // background-color: $color-white;
    }
  }

  &--footer {
    padding: $spacing-md;

    .lj-button {
      width: 30%;
    }
  }
}
