@import '@/styles/libs.scss';

$classPrefix: '.lj-image-icon';

#{$classPrefix} {
  &#{$classPrefix}--large {
    width: $icon-size-lg;
    height: $icon-size-lg;
  }
  &#{$classPrefix}--normal {
    width: $icon-size-md;
    height: $icon-size-md;
  }
  &#{$classPrefix}--small {
    width: $icon-size-sm;
    height: $icon-size-sm;
  }
}
