@import './libs.scss';
@import './iconfont/iconfont.css';
// @import '@nutui/nutui-react-taro/dist/style.css';

page {
  // 默认样式
  font-family: $font-family;
  @include text($color-text-base, $font-size-base, 1);
  background-color: $color-bg-base !important;
}

view {
  box-sizing: border-box;
}

.page-title {
  @include text(null, $font-size-lg, 90px);
  text-align: center;
  margin-bottom: $spacing-md;
}

.page-content {
  @include text();
  text-indent: 2em;

  & > view {
    margin-bottom: $spacing-md;
  }
}

/* checkbox */
checkbox .wx-checkbox-input.wx-checkbox-input-checked::before {
  color: $color-primary !important;
}

/* radio */

/* 未选中的样式 */
radio .wx-radio-input {
  border-radius: $border-radius-circle;
  width: $radio-size;
  height: $radio-size;
}
/* 选中后 背景及勾 的样式 */
radio .wx-radio-input.wx-radio-input-checked {
  border-color: $radio-color !important;
  background: $radio-color !important;
}
radio .wx-radio-input.wx-radio-input-checked::before {
  border-radius: $border-radius-circle;
  width: $radio-size;
  height: $radio-size;
  line-height: $radio-size;
  text-align: center;
  font-size: $font-size-md;
  color: #fff;
  background: transparent;
  transform: translate(-50%, -50%) scale(1);
  -webkit-transform: translate(-50%, -50%) scale(1);
}

/*swtich整体大小及背景色*/
switch .wx-switch-input {
  width: 80px !important;
  height: 40px !important;
  background: $color-primary !important;
  border: $color-primary !important;
}

/*白色样式（false的样式）*/
switch .wx-switch-input::before {
  width: 80px !important;
  height: 40px !important;
  box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.5);
}

/* 中间的小圆球 */ /*绿色样式（true的样式）*/
switch .wx-switch-input::after {
  width: 40px !important;
  height: 40px !important;
}

/* flex:1 */
.flex1 {
  flex: 1;
}

/* at-action-sheet */

.at-action-sheet__item {
  @include text();
}

.at-action-sheet__footer {
  @include text();
}
