@font-face {
  font-family: "iconfont"; /* Project id 4226442 */
  src: url('//at.alicdn.com/t/c/font_4226442_z202tdwkidd.woff2?t=1693095046402') format('woff2'),
       url('//at.alicdn.com/t/c/font_4226442_z202tdwkidd.woff?t=1693095046402') format('woff'),
       url('//at.alicdn.com/t/c/font_4226442_z202tdwkidd.ttf?t=1693095046402') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconfont-right:before {
  content: "\e683";
}

.iconfont-left:before {
  content: "\e684";
}

.iconfont-under:before {
  content: "\e685";
}

.iconfont-up:before {
  content: "\e686";
}
