@import '@/styles/libs.scss';

$classPrefix: '.lj-empty';

#{$classPrefix} {
  @include flex-col(center, center);
  padding: $spacing-md;

  image {
    margin-bottom: $spacing-xs;
    width: 400px;
    height: 400px;
  }

  text {
    color: $color-text-desc;
  }
}
