@import '@/styles/libs.scss';

$classPrefix: '.lj-empty';

#{$classPrefix} {
  @include flex-col-center();
  padding: $spacing-md;
  color: $color-icon-base;

  image {
    margin-bottom: $spacing-xs;
    width: 201px;
    height: 139px;
  }
}
