@import '@/styles/libs.scss';

$classPrefix: '.lj-progress';

/* lj-progress */
$lj-progress-label-color: $color-info;
$lj-progress-progress-color: $color-info;
$lj-progress-progress-height: 16px;

#{$classPrefix} {
  width: 100%;
  @include flex-col();

  &--label {
    color: $lj-progress-label-color;
    margin-bottom: $spacing-md;
  }

  &--progress {
    .at-progress__outer-inner-background {
      background-color: $lj-progress-progress-color;
      height: $lj-progress-progress-height;
      border-radius: $lj-progress-progress-height / 2;
    }
  }
}
