@import '@/styles/libs.scss';

$classPrefix: '.lj-picture-upload';

/* lj-picture-upload */
$lj-picture-upload-border: $border-base;
$lj-picture-upload-border-radius: $border-radius-md;
$lj-picture-upload-text-color: $color-text-desc;

#{$classPrefix} {
  width: 314px;
  height: 210px;
  background: $color-white;
  border: $lj-picture-upload-border;
  border-radius: $lj-picture-upload-border-radius;

  &--container {
    @include flex-col(center, center);
    width: 100%;
    height: 100%;

    .lj-image {
      width: 100%;
      height: 100%;
    }
  }

  &--icon {
    margin-bottom: $spacing-xs;
    color: $lj-picture-upload-text-color;
  }

  &--title {
    @include text($lj-picture-upload-text-color);
    @include line(1);
  }
}
