@import '@/styles/libs.scss';

$classPrefix: '.lj-icon';

#{$classPrefix} {
  color: $color-icon-base;

  &--large {
    font-size: $icon-size-lg;
  }
  &--normal {
    font-size: $icon-size-md;
  }
  &--small {
    font-size: $icon-size-sm;
  }

  &--primary {
    color: $color-primary;
  }
  &--secondary {
    color: $color-secondary;
  }
  &--info {
    color: $color-info;
  }
  &--success {
    color: $color-success;
  }
  &--warning {
    color: $color-warning;
  }
  &--error {
    color: $color-error;
  }
}
