@import '@/styles/libs.scss';

$classPrefix: '.lj-modal';

#{$classPrefix} {
  .at-modal__container {
    width: 640px;
    border-radius: $border-radius-md;
  }

  .at-modal__header {
    padding: $spacing-xl;

    &::after {
      border-bottom: none;
    }
  }

  .at-modal__content {
    padding: 0 $spacing-md;
  }

  .at-modal__footer {
    padding: $spacing-xl;

    &::before {
      border-top: none;
    }
  }

  &--footer {
    .lj-button {
      width: 200px;
      margin-right: 0;
    }
  }
}
