@import '@/styles/libs.scss';

$classPrefix: '.lj-search-input';

#{$classPrefix} {
  height: 87px;
  background: #ffffff;
  box-shadow: $box-shadow-base;
  border: $border-base;
  padding: 0 $spacing-md;
  border-radius: 50px;
  @include flex-row-between();

  &--input {
    flex: 1;
  }

  &--split {
    margin: $spacing-sm;
    border-left: $border-split;
    height: 30px;
  }

  &--icon {
  }
}
