@import '@/styles/libs.scss';

$classPrefix: '.lj-text-viewer';

#{$classPrefix} {
  position: relative;
  width: 100%;
  overflow: hidden;

  &--textarea {
    .nut-textarea-textarea {
      height: 150px;
    }
  }

  &--view {
    padding: $spacing-md $spacing-md;

    view {
      @include text(null, null, 1.5);
    }
  }
}
