@import '@/styles/libs.scss';

$classPrefix: '.lj-mine-page';

#{$classPrefix} {
  .top-image {
    width: 100%;
    height: 500px;
  }

  &--user-info {
    width: 694px;
    @include flex-col(center, center);
    position: relative;
    z-index: 1;
    margin: 0 auto 0;

    .avatar {
      --nutui-avatar-large-width: 160px;
      --nutui-avatar-large-height: 160px;
      margin-top: -80px;
    }

    .user-name {
      @include text(null, $font-size-xl);
      margin-top: $spacing-md;
    }
  }

  &--list {
    margin-top: $spacing-lg;
  }
}
