@import '@/styles/libs.scss';

$classPrefix: '.lj-teacher-select-picker';

#{$classPrefix} {
  &--content {
    height: 80vh;
  }

  .lj-search-input {
    margin: $spacing-md;
    height: 96px;
  }

  radio-group,
  checkbox-group {
    flex: 1;
    height: 100%;
    overflow: hidden;
  }

  .lj-list-view .lj-empty {
    padding: 0;
  }

  .teacher-item {
    @include card();

    .item-name {
      @include text();
    }

    .item-phone {
      @include text($color-text-desc, $font-size-sm);
    }
  }
}
