@import '@/styles/libs.scss';

$classPrefix: '.lj-send-code-modal';

#{$classPrefix} {
  .phone-number {
    @include text(null, $font-size-lg);
  }
  .input-number {
    width: 260px;
    text-align: center;
  }
  .send-button {
    width: 200px;
  }
}
