@import '@/styles/libs.scss';

$classPrefix: '.lj-category-list-page';

#{$classPrefix} {
  width: 100%;
  height: 100vh;

  .lj-list-item {
    width: 100vw;
  }

  .item-count {
    @include text($color-error, $font-size-sm);
  }

  .item-more {
    transform: rotate(90deg);
    margin-left: $spacing-xs;
  }

  .item-delete {
    color: $color-error;
  }

  &--hover-button {
    z-index: 1000;
    position: fixed;
    bottom: 90px;
    right: 30px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 50% 50% !important;
    width: 100px;
    height: 100px;
    padding: 0;
  }

  &--footer {
    height: 110px;
  }
}
