@import '@/styles/libs.scss';

$classPrefix: '.lj-base-select';

#{$classPrefix} {
  height: $input-height-md;
  background: #ffffff;
  @include flex-row(space-between, center);
  display: inline-flex;

  &--value {
    flex: 1;
    @include text();
    @include line(1);

    &.placeholder {
      color: $color-text-placeholder;
    }
  }

  &--icon {
    background-color: transparent;
    margin-left: $spacing-xs;
    color: $color-text-desc;
    font-size: $icon-size-md !important;
  }

  // &--full {
  //   width: 100%;
  // }

  // 显示边框
  &--border {
    padding: 0 $spacing-xs;
    border: $border-base;
    border-radius: $border-radius-sm;
  }

  // 文字对齐方式
  &--left {
    text-align: left;
  }
  &--center {
    text-align: center;
  }
  &--right {
    text-align: right;
  }

  &--large {
    height: $input-height-lg;
  }
  &--normal {
    height: $input-height-md;
  }
  &--small {
    height: $input-height-sm;
  }
}
