@import '@/styles/libs.scss';

$classPrefix: '.lj-form-item';

#{$classPrefix} {
  @include flex-row-between();
  height: 80px;
  border: $border-base;
  border-radius: $border-radius-sm;
  background-color: #ffffff;
  margin-bottom: $spacing-md;
  padding: 0 $spacing-md;

  &--item-thumb {
    @include flex-row(center, center);
    margin-right: $spacing-xs;
  }

  &--item-icon {
    margin-right: $spacing-xs;
  }

  &--item-title {
    margin-right: $spacing-xs;
  }

  &--item-content {
    flex: 1;
    text-align: right;
  }

  // input, select ....

  .lj-select--picker {
    width: 100%;
  }

  .lj-select {
    border: none;
    min-width: 100%;
    padding: 0;
  }

  // 显示边框
  &--border {
    padding: 0 $spacing-xs;
    border: 1px solid #c8c8c8;
    border-radius: $border-radius-sm;
  }
}
